openapi: 3.1.0
info:
  title: Stream Heaven Social API
  version: 1.1.0
  license:
    name: Proprietary
    identifier: LicenseRef-StreamHeaven-Proprietary
  description: |
    Social graph, home feed (tabbed), video posts, engagement actions, and watch-event
    ingestion for feed ranking. v1.1 adds feed tabs, FeedItem union, and engagement
    without breaking existing SocialPost fields.

servers:
  - url: https://api.streamheaven.app/v1
  - url: http://127.0.0.1:3000/v1

tags:
  - name: SocialPosts
    description: Post creation and retrieval endpoints.
  - name: SocialFeed
    description: Personalized feed and cursor pagination endpoints.
  - name: SocialComments
    description: Comment creation endpoints for posts.
  - name: SocialGraph
    description: Follow graph mutations and related actions.
  - name: SocialModeration
    description: Report and block moderation hooks.
  - name: SocialEngagement
    description: Like, share, and gift-intent hooks on posts.
  - name: SocialRanking
    description: Client watch-event ingestion for feed and trending scores.

paths:
  /social/posts:
    post:
      operationId: createPost
      tags: [SocialPosts]
      summary: Create a social post
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - $ref: './common.v1.yaml#/components/parameters/XAppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPost'
        '400':
          $ref: './common.v1.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

  /social/feed:
    get:
      operationId: getFeed
      tags: [SocialFeed]
      summary: Get tabbed home feed with mixed content items
      description: |
        Returns a cursor-paginated feed for the requested tab. Default tab is `following`.
        Items use the FeedItem discriminated union (`feedItemType`). Legacy clients may
        still read text fields on `text_post` and `video_post` variants.
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - $ref: './common.v1.yaml#/components/parameters/XAppId'
        - name: tab
          in: query
          required: false
          description: Home feed surface matching product tabs.
          schema:
            $ref: '#/components/schemas/FeedTab'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: Feed page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

  /social/posts/{postId}/like:
    post:
      operationId: togglePostLike
      tags: [SocialEngagement]
      summary: Like or unlike a post
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - $ref: './common.v1.yaml#/components/parameters/XAppId'
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToggleLikeRequest'
      responses:
        '200':
          description: Like state updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikeResponse'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'
        '404':
          $ref: './common.v1.yaml#/components/responses/NotFound'

  /social/posts/{postId}/share:
    post:
      operationId: sharePost
      tags: [SocialEngagement]
      summary: Record a share action and return deeplink payload
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - $ref: './common.v1.yaml#/components/parameters/XAppId'
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharePostRequest'
      responses:
        '200':
          description: Share recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharePostResponse'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'
        '404':
          $ref: './common.v1.yaml#/components/responses/NotFound'

  /social/posts/{postId}/gift-intent:
    post:
      operationId: createPostGiftIntent
      tags: [SocialEngagement]
      summary: Prepare an idempotent gift send against wallet-service
      description: |
        Returns a gift intent id and wallet route. Actual debit occurs via
        `POST /wallet/gifts/send` with the returned idempotencyKey.
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - $ref: './common.v1.yaml#/components/parameters/XAppId'
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostGiftIntentRequest'
      responses:
        '200':
          description: Gift intent prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGiftIntentResponse'
        '400':
          $ref: './common.v1.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'
        '404':
          $ref: './common.v1.yaml#/components/responses/NotFound'

  /social/engagement/watch-events:
    post:
      operationId: ingestWatchEvents
      tags: [SocialRanking]
      summary: Batch ingest watch progress for ranking signals
      description: |
        Accepts watch time, completion, rewatch, and skip signals used by feed and
        trending rankers. Idempotent per (viewerUserId, postId, sessionId).
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - $ref: './common.v1.yaml#/components/parameters/XAppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchEventBatchRequest'
      responses:
        '202':
          description: Events accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchEventBatchResponse'
        '400':
          $ref: './common.v1.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

  /social/posts/{postId}/comments:
    post:
      operationId: createComment
      tags: [SocialComments]
      summary: Add comment to a post
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialComment'
        '400':
          $ref: './common.v1.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

  /social/users/{targetUserId}/follow:
    post:
      operationId: followUser
      tags: [SocialGraph]
      summary: Follow a target user
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
        - name: targetUserId
          in: path
          required: true
          schema:
            $ref: './common.v1.yaml#/components/schemas/UserId'
      responses:
        '200':
          description: Follow state returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowResponse'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

  /social/reports:
    post:
      operationId: reportContent
      tags: [SocialModeration]
      summary: Report a post or user for moderation review
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
      responses:
        '202':
          description: Report accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '400':
          $ref: './common.v1.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

  /social/blocks:
    post:
      operationId: blockUser
      tags: [SocialModeration]
      summary: Block another user in social surfaces
      security:
        - bearerAuth: []
      parameters:
        - $ref: './common.v1.yaml#/components/parameters/XRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequest'
      responses:
        '200':
          description: Block state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        '400':
          $ref: './common.v1.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.v1.yaml#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    FeedTab:
      type: string
      enum: [trending, videos, following, celebrity]
      default: following
      description: Home feed tab matching product navigation.

    FeedItemType:
      type: string
      enum: [text_post, video_post, live_card]
      description: Discriminator for feed row rendering.

    PostAuthorSummary:
      type: object
      required: [userId, displayName]
      properties:
        userId:
          $ref: './common.v1.yaml#/components/schemas/UserId'
        displayName:
          type: string
          maxLength: 64
        handle:
          type: string
          maxLength: 32
        avatarUrl:
          type: [string, 'null']
          format: uri
        isCelebrity:
          type: boolean
          default: false
        isFollowing:
          type: boolean
          default: false

    ViewerEngagementState:
      type: object
      properties:
        liked:
          type: boolean
          default: false
        saved:
          type: boolean
          default: false
        shared:
          type: boolean
          default: false

    SocialPost:
      allOf:
        - $ref: './common.v1.yaml#/components/schemas/Timestamps'
        - type: object
          required: [postId, authorId, text, likeCount, commentCount, shareCount]
          properties:
            postId:
              type: string
              format: uuid
            authorId:
              $ref: './common.v1.yaml#/components/schemas/UserId'
            text:
              type: string
              maxLength: 2200
            mediaUrl:
              type: [string, 'null']
              format: uri
            likeCount:
              type: integer
              minimum: 0
            commentCount:
              type: integer
              minimum: 0
            shareCount:
              type: integer
              minimum: 0
            giftCount:
              type: integer
              minimum: 0
              default: 0

    VideoMedia:
      type: object
      required: [playbackUrl, durationMs, aspectRatio]
      properties:
        playbackUrl:
          type: string
          format: uri
          description: HLS manifest or progressive MP4 URL from media-service.
        thumbnailUrl:
          type: [string, 'null']
          format: uri
        durationMs:
          type: integer
          minimum: 1
          maximum: 600000
        aspectRatio:
          type: string
          pattern: '^[0-9]+:[0-9]+$'
          example: '9:16'
        width:
          type: integer
          minimum: 1
        height:
          type: integer
          minimum: 1

    VideoPost:
      allOf:
        - $ref: '#/components/schemas/SocialPost'
        - type: object
          required: [postType, video]
          properties:
            postType:
              type: string
              const: video
            video:
              $ref: '#/components/schemas/VideoMedia'

    LiveCardPreview:
      type: object
      required: [roomId, hostId, title, viewerCount, status]
      properties:
        roomId:
          type: string
          format: uuid
        hostId:
          $ref: './common.v1.yaml#/components/schemas/UserId'
        title:
          type: string
          maxLength: 120
        viewerCount:
          type: integer
          minimum: 0
        status:
          type: string
          enum: [scheduled, live]
        coverUrl:
          type: [string, 'null']
          format: uri

    FeedItem:
      type: object
      required: [feedItemType, itemId]
      properties:
        feedItemType:
          $ref: '#/components/schemas/FeedItemType'
        itemId:
          type: string
          format: uuid
          description: Stable id for pagination and engagement (usually postId or roomId).
        author:
          $ref: '#/components/schemas/PostAuthorSummary'
        viewerState:
          $ref: '#/components/schemas/ViewerEngagementState'
        textPost:
          $ref: '#/components/schemas/SocialPost'
        videoPost:
          $ref: '#/components/schemas/VideoPost'
        liveCard:
          $ref: '#/components/schemas/LiveCardPreview'
        rankScore:
          type: [number, 'null']
          description: Debug-only score when X-Rank-Debug header is enabled.
      description: Exactly one of textPost, videoPost, or liveCard should be populated.

    CreatePostRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 2200
        mediaUrl:
          type: string
          format: uri
        postType:
          type: string
          enum: [text, image, video]
          default: text
        videoAssetId:
          type: string
          format: uuid
          description: Required when postType is video; references media-service asset.

    SocialComment:
      allOf:
        - $ref: './common.v1.yaml#/components/schemas/Timestamps'
        - type: object
          required: [commentId, postId, authorId, text]
          properties:
            commentId:
              type: string
              format: uuid
            postId:
              type: string
              format: uuid
            authorId:
              $ref: './common.v1.yaml#/components/schemas/UserId'
            text:
              type: string
              maxLength: 1000

    CreateCommentRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 1000

    FeedResponse:
      type: object
      required: [items, page, tab]
      properties:
        tab:
          $ref: '#/components/schemas/FeedTab'
        items:
          type: array
          items:
            $ref: '#/components/schemas/FeedItem'
        page:
          $ref: './common.v1.yaml#/components/schemas/CursorPagination'
        rankingVersion:
          type: string
          description: Ranker version for A/B tests (e.g. rule-v1, ml-v2).
          example: rule-v1

    ToggleLikeRequest:
      type: object
      properties:
        liked:
          type: boolean
          description: Desired state; omit to toggle current state.

    LikeResponse:
      type: object
      required: [postId, liked, likeCount]
      properties:
        postId:
          type: string
          format: uuid
        liked:
          type: boolean
        likeCount:
          type: integer
          minimum: 0

    ShareChannel:
      type: string
      enum: [internal, whatsapp, copy_link, other]

    SharePostRequest:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/ShareChannel'

    SharePostResponse:
      type: object
      required: [postId, shareCount, deeplinkUrl]
      properties:
        postId:
          type: string
          format: uuid
        shareCount:
          type: integer
          minimum: 0
        deeplinkUrl:
          type: string
          format: uri

    PostGiftIntentRequest:
      type: object
      required: [giftSku]
      properties:
        giftSku:
          type: string
          minLength: 1
          maxLength: 64
          example: rose_001
        quantity:
          type: integer
          minimum: 1
          maximum: 99
          default: 1

    PostGiftIntentResponse:
      type: object
      required: [intentId, postId, giftSku, idempotencyKey, walletSendPath]
      properties:
        intentId:
          type: string
          format: uuid
        postId:
          type: string
          format: uuid
        giftSku:
          type: string
        idempotencyKey:
          type: string
          format: uuid
        walletSendPath:
          type: string
          example: /v1/wallet/gifts/send

    WatchEvent:
      type: object
      required: [postId, sessionId, watchTimeMs, durationMs]
      properties:
        postId:
          type: string
          format: uuid
        sessionId:
          type: string
          format: uuid
          description: Client-generated playback session for idempotency.
        watchTimeMs:
          type: integer
          minimum: 0
          description: Accumulated watch time in this session.
        durationMs:
          type: integer
          minimum: 1
          description: Total video duration for completionRate derivation.
        completionRate:
          type: number
          minimum: 0
          maximum: 1
          description: watchTimeMs / durationMs capped at 1; server may recompute.
        rewatchCount:
          type: integer
          minimum: 0
          default: 0
        skipped:
          type: boolean
          default: false
          description: True if user swiped away before 25% completion.
        feedTab:
          $ref: '#/components/schemas/FeedTab'
        emittedAt:
          type: string
          format: date-time

    WatchEventBatchRequest:
      type: object
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: '#/components/schemas/WatchEvent'

    WatchEventBatchResponse:
      type: object
      required: [accepted, rejected]
      properties:
        accepted:
          type: integer
          minimum: 0
        rejected:
          type: integer
          minimum: 0

    FeedRankingSignals:
      type: object
      description: Server-side aggregate signals used by rankers (read model / debug).
      properties:
        watchTimeMs:
          type: integer
          minimum: 0
        completionRate:
          type: number
          minimum: 0
          maximum: 1
        rewatchRate:
          type: number
          minimum: 0
          maximum: 1
        engagementRate:
          type: number
          minimum: 0
        recencyScore:
          type: number
          minimum: 0
          maximum: 1

    FollowResponse:
      type: object
      required: [targetUserId, following]
      properties:
        targetUserId:
          $ref: './common.v1.yaml#/components/schemas/UserId'
        following:
          type: boolean

    ReportRequest:
      type: object
      required: [entityType, entityId, reason]
      properties:
        entityType:
          type: string
          enum: [post, user]
        entityId:
          type: string
        reason:
          type: string
          minLength: 2
          maxLength: 200
        details:
          type: string
          maxLength: 1000

    ReportResponse:
      type: object
      required: [reportId, status]
      properties:
        reportId:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued]

    BlockRequest:
      type: object
      required: [targetUserId]
      properties:
        targetUserId:
          $ref: './common.v1.yaml#/components/schemas/UserId'

    BlockResponse:
      type: object
      required: [targetUserId, blocked]
      properties:
        targetUserId:
          $ref: './common.v1.yaml#/components/schemas/UserId'
        blocked:
          type: boolean
