{
  "dart.flutterSdkPath": "D:\\StreamHeaven\\tools\\flutter",
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll": "explicit",
    "source.organizeImports": "explicit"
  },
  "[dart]": {
    "editor.formatOnSave": true,
    "editor.selectionHighlight": false,
    "editor.suggestSelection": "first",
    "editor.tabCompletion": "onlySnippets",
    "editor.wordBasedSuggestions": "off"
  },
  "dart.previewFlutterUiGuides": true,
  "dart.openDevTools": "flutter",
  "search.exclude": {
    "**/.dart_tool": true,
    "**/build": true,
    "**/node_modules": true,
    "**/.turbo": true
  },
  "files.watcherExclude": {
    "**/.dart_tool/**": true,
    "**/build/**": true,
    "**/node_modules/**": true
  },
  "files.associations": {
    "*.yaml": "yaml",
    "*.arb": "json"
  }
}
